@import url(https://fonts.googleapis.com/css?family=Muli:300,300italic|Passion+One:400,700,900|Special+Elite);
@import "variables";

body {
  background-color: lighten($light, 7%);
  color: $dark;
  font-family: "Muli", sans-serif;
}

.container {
  width: 90%;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 80%;
  }
}

h1, h2, h3, h4 {
  color: $primary;
  font-family: "Passion One", sans-serif;
}
p {
  text-align: justify;
}
a {
  color: $secondary;
  &:hover {
    color: darken($secondary, 15%);
    text-decoration: none;
  }
}
.navbar {
  border-radius: 0px;
  box-shadow: none;
  border: none;
  background-image: none;
  background-color: $dark;
  .navbar-brand, .navbar-nav li a {
    color: $light;
    &:hover {
      color: $white;
    }
  }
  li.active {
    a, a:focus {
      background-image: none !important;
      background-color: lighten($light, 7%) !important;
      color: $dark !important;
      box-shadow: none !important;
    }
  }
  .navbar-nav li a:hover {
    background-color: darken($dark, 15%);
  }
  .navbar-toggle {
    border-color: $light;
    .icon-bar {
      background-color: $light;
    }

    &:hover, &:active, &:focus { 
      background-color: $light;
      color: $dark;
      .icon-bar {
        background-color: $dark;
      }
    }
  }
}
#footer {
  background-color: $dark;
  color: $white;
}

.date {
  font-family: "Special Elite", monospace;
}



/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: $light;
  color: $dark;
  border-radius: 3px;
  text-decoration: none;
  border: none; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover, .tag_box a:active {
  background-color: $dark;
  color: $light; }