---
---

$primary: #004563;
$secondary: #98cc96;
$linky: #0089a7;

// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Headers
$header-heading-color: white;
$header-bg-color: $primary;
$header-bg-color-secondary: $secondary;

// Text
$section-headings-color: $primary;
$body-text-color: #606c71;
$body-link-color: $linky;
$blockquote-text-color: #819198;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #567482;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;

@import "{{ site.theme }}";

body {
  font-family: Helvetica 300 !important;
  line-height: 2.15rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Futura, "Futura-Medium", "Futura Medium", "Century Gothic",
    CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde",
    sans-serif;
}

h2.project-tagline {
  font-family: monospace;
}

.main-content {
  max-width: 64rem;

  h1 {
    margin-bottom: 2.5rem;
    font-size: 4rem;
    font-weight: bold;
    line-height: 4.1rem;
  }
  h2 {
    line-height: 1.5rem;
    font-weight: bold;
  }
  h3 {
    line-height: 1.8rem;
  }
}

.pagination {
  border-top: solid 1px #eff0f1;
  margin-top: 2rem;
  padding-top: 2rem;

  .previous,
  .next,
  .page-number {
    margin-right: 2rem;
  }
}

section.page-header h2 {
  margin-bottom: 0;
}

.post-excerpt {
  margin-bottom: 3rem;
}

.main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary;
  }
}

.project-name a {
  color: white;
  text-decoration: none;
}

.post-content {
  margin-bottom: 5rem;
}

.social-media-icon {
  margin-right: 0.5rem;
  vertical-align: center;
  // Equivalent to $linky: https://codepen.io/sosuke/pen/Pjoqqp
  filter: invert(39%) sepia(93%) saturate(3844%) hue-rotate(168deg)
    brightness(91%) contrast(102%);

  &:hover {
    text-decoration: none;

    &.earth {
      filter: none;
    }
    &.github {
      // Equivalent to #181717
      filter: invert(3%) sepia(10%) saturate(374%) hue-rotate(315deg)
        brightness(94%) contrast(87%);
    }
    &.twitter {
      // Equivalent to #1DA1F2
      filter: invert(46%) sepia(57%) saturate(1164%) hue-rotate(171deg)
        brightness(103%) contrast(90%);
    }
  }
}
